:root {
	--fondo: #e4dec5e1;
	--letra: #157bbe;
	--azul:#81adca;	
	--azulverde: rgb(135, 215, 221);
	--negro: rgb(0, 0, 0);
	--verde: rgb(7, 104, 28);
	--naranja: #75563a;
	--rojo: #800000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-weight: bolder; */
}

.estilo-x {
	font-size: calc(1vw + 1vh + 0.5vmin);
	line-height: 1em;
	padding: 0em;
	margin: 0em;
}

body {
	font-family: “Helvetica”, arial, sans-serif;
	background-color: var(--fondo);
}

.contenedor {
	margin: 0 auto;
	width: 99%;
}

h3, h4{
	text-align: center;
	color: var(--letra);
}

.cabecera {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 70%;
	margin: 0 auto;
}

form #sellimit {
	width: 100%;
	cursor: pointer;
	background-color: var(--azulverde);
	border-style: outset;
	margin-bottom: 0.3em;
	font-size: calc(2vw + 1vh);
}

form input[type="date"] {
	width: 100%;
	background-color: var(--azulverde);
	border-style: outset;
	cursor: pointer;
	margin-bottom: 0.3em;
	font-size: calc(1.5vw + 1vh);
}

#btnConsultar {
	width: 100%;
	background-color: var(--azul);
	color: var(--negro);
	border-style: outset;
	font-size: calc(2.5vw + 1vh);
	font-weight: bolder;
	border-radius: 2em / 5em;
	margin-bottom: 0.3em;
	cursor: pointer;
}

.resultado {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: var(--amarillo);
	width: 100%;
	margin: 0 auto;
}

#maxmin {
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 0.1em;
	margin-bottom: 0.2em;
}

#minimo,
#medio,
#maximo {
	display: flex;
	flex-direction: column;
	background-color: var(--azul);
	width: 100%;
	border-radius: 5px;
	border-style: ridge;
}

.minimo {
	color: var(--verde);
}

.medio {
	color: var(--naranja);
}

.maximo {
	color: var(--rojo);
}


.list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 75%;
	margin: 0 auto;
}

.itempreciohora {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	max-width: 80%;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 5px;
	margin-bottom: 2px;
	font-weight: lighter;
}

.itempreciohora img {
	width: 100%;
	max-width: 5%;
	margin-right: 0.1em;
}

.itempreciohora span {
	margin-left: 0.4em;
}
.itempreciohora span1 {
	font-size: calc(1vw + 1vh + 0.5vmin);
}


#loading {
	display: none;
	margin: 0 auto;
	margin-top: 3.5em;
}

/* --------- Media Querys -----------*/
@media screen and (min-width: 480px) {
	/* body {
	  background-color: lightgreen;
	} */
	.container {
		width: 75%;
		margin: 0 auto;
	}
	.itempreciohora img {
		max-width: 3%;
	}
  }