:root {
	--marron: #b68354e1;
	--verde: rgb(96, 151, 108);
	--naranja: #d47d2c;
	--gris: #808080;
	--blanco: white;
	--amarillo: rgb(230, 240, 96);
	--rojo: #800000;
	--azul: #99d0f5;
	--negro: rgb(0, 0, 0);
	--azulverde: rgb(89, 238, 176);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: var(--marron);
}

.contenedor {
	text-align: center;
	margin: 0 auto;
}

.cabecera {
	display: flex;
	flex-direction: column;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*	text-align: center; */
	/* color: var(--gris); */
	margin: 0 auto;
}
.datosusuario{
	display: flex;
	margin-bottom: 0.3em;
}
form #sellimit {
	width: 150px;
	cursor: pointer;
	background-color: var(--azulverde);
	border-style: initial;
	margin-right: 0.5em;
}

form input[type="date"] {
	width: 200px;
	background-color: var(--azulverde);
	border-style: none;
	cursor: pointer;
}

form input[type="date"]:focus {
	outline: none;
}

form input[type="submit"] {
	width: 350px;
	background-color: var(--azul);
	color: var(--negro);
	border-style: initial;
	 font-size: 2em; 
	border-radius: 5%;
	margin-bottom: 0.15em;
	cursor: pointer;
}

.cabecerapreciohora, hr {
	background-color: var(--verde);
	width: 350px;
	margin: 0 auto;
	margin-bottom: 3px;
}

.list-container {
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.itempreciohora {
	display: inline-block;
	background-color: var(--azul);
	width: 250px;
	height: 23px;
	border-radius: 5px;
	padding: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
}
.itempreciohora img{
	width: 40px;
	height: 10px;
	margin-left: 2px;
	margin-right: 5px;
}


/* media querys */
/* @media(max-width: 650px) {
	h3 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1.5em;
	}

} */