:root {
	--marron: #ad7744e1;
	--verde: rgb(27, 143, 52);
	--naranja: #d3751e;
	--gris: #808080;
	--blanco: white;
	--amarillo: rgb(230, 240, 96);
	--rojo: #800000;
	--azul: #3b3be4;
	--negro: rgb(0, 0, 0);
	--azulverde: rgb(89, 238, 176);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: var(--marron);
}

.contenedor {
	text-align: center;
	margin: 0 auto;
}

.cabecera {
	display: flex;
	flex-direction: column;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*	text-align: center; */
	/* color: var(--gris); */
	margin: 0 auto;
}

form #sellimit {
	width: 200px;
	cursor: pointer;
	background-color: var(--azulverde);
	border-style: initial;
	margin-bottom: 0.1em;
	font-size: 1.5em;
}

form input[type="date"] {
	width: 200px;
	background-color: var(--azulverde);
	border-style: none;
	cursor: pointer;
	margin-bottom: 0.5em;
	font-size: 1.5em;
}

form input[type="date"]:focus {
	outline: none;
}

form input[type="submit"] {
	width: 200px;
	background-color: var(--azul);
	color: var(--blanco);
	border-style: initial;
	font-size: 2em;
	border-radius: 10%;
	margin-bottom: 0.3em;
}

form input[type="submit"]:hover {
	cursor: pointer;
	background-color: var(--verde);
	color: var(--negro);
}


.cabecerapreciohora {
	background-color: var(--verde);
	margin: 0 auto;
	margin-bottom: 3px;
}

.list-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.itempreciohora {
	display: inline-block;
	background-color: var(--azulverde);
	width: 250px;
	height: 23px;
	border-radius: 5px;
	padding: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
}
.itempreciohora img{
	width: 40px;
	height: 10px;
	margin-left: 2px;
	margin-right: 5px;
}


/* media querys */
@media(max-width: 650px) {
	h3 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1.5em;
	}

}